Makefile
Makefile.in

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/config.guess
/ltmain.sh
/libtool
/m4
/\[config.h\].in

.deps
.libs

/uproc-dna
/uproc-prot
/uproc-orf
/uproc-import
/uproc-export
/uproc-makedb
/uproc-detailed

/libuproc/codon_tables.h
/libuproc/gen_ct

/libuproc/docs/doxyfile
/libuproc/docs/doxywarn.txt
/libuproc/docs/doxygen.stamp
/libuproc/docs/libuproc
/libuproc/docs/libuproc.tar.gz
/libuproc/tests/data/*.tmp

/libuproc/tests/ck_*
!/libuproc/tests/ck_*.c
/libuproc/tests/*.trs
/libuproc/tests/*.log
/test-driver

/uproc-*.*.*.tar.gz
