*.o
Makefile.in

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.h
/config.h.in
/config.log
/config.status

.deps

/src/Makefile
/src/upro-dna
/src/upro-orf
/src/upro-prot

/libupro/codon_tables.h
/libupro/libupro.a

/tests/ck_upro
/tests/ck_upro.log
/tests/ck_upro.trs
/tests/test-suite.log
/tests/Makefile
/test-driver
