*.o
Makefile.in

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.h
/config.h.in
/config.log
/config.status

.deps

/src/Makefile
/src/uproc-dna
/src/uproc-orf
/src/uproc-prot

/libuproc/codon_tables.h
/libuproc/libuproc.a

/tests/ck_uproc
/tests/ck_uproc.log
/tests/ck_uproc.trs
/tests/test-suite.log
/tests/Makefile
/test-driver
